table,th,td{
    border: 3px solid grey;
    padding: 5px;
    border-collapse: collapse;
}
.profile{
    background-color: darkgray;
}
.education{
    background-color: darkgray;
}
.technical{
    background-color: darkgray;
}
.soft{
    background-color: darkgray;
}

